<h3 class="margin">Hello ! Want to make insects friends ?</h3>
<img src="https://st2.depositphotos.com/1037178/6992/v/950/depositphotos_69922295-stock-illustration-happy-cartoon-bug-insect.jpg" class="img-responsive img-circle margin" style="display:inline" alt="bug" width="350" height="350">