{% extends "@AppBundle/views/layout.html.twig" %}

{% block title %}{{ parent() }} To My Adress Book.{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 { 
            background-color: #1abc9c;
            color: #ffffff;
        }
        .bg-2 { 
            background-color: #474e5d;
            color: #ffffff;
        }
        .bg-3 { 
            background-color: #ffffff;
            color: #555555;
        }
        .bg-4 { 
            background-color: #2f2f2f;
            color: #fff;
        }
        .container-fluid {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        .navbar-nav  li a:hover {
            color: #1abc9c !important;
        }
        td {
            color: black;
        }

        table td:last-child {
            font-size: 2em;

        }

        table td:last-child a {
            text-decoration: none;
        }

        table td:last-child a:hover {
            text-decoration: none;
            color: red;
        }

        td:first-child{
            background-color: white;
            color: #1ABC9C;
        }
    </style>
{% endblock %}

{% block body %}
    {# Navigation #}
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{{ path("homepage") }}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    {# Corp #}
    <div class="container-fluid bg-1 text-center">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            {{ include("@AppBundle/views/index/index_logged.html.twig") }}
        {% else %}
            {{ include("@AppBundle/views/index/index_unlogged.html.twig") }}
        {% endif %}
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
            <h3>Come on !</h3>
        {% endif %}
    </div>

    {# Bas #}
    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Remixed by Ritchy <a href="https://www.linkedin.com/in/ritchy-blezin">Click here :)</a></p> 
    </footer>
{% endblock %}