<h1 class="margin display-1">Hello {{ app.user.username }} !</h1>
<div class="container">
    <h2 class="pull-left">Liste des Utilisateurs</h2>
    <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">Username</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Famille</th>
                    <th class="text-center">Race</th>
                    <th class="text-center">Nourriture</th>
                    <th class="text-center">Amis</th>
                </tr>
            </thead>
        {% for user in users %}
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.family|capitalize }}</td>
                    <td>{{ user.race|capitalize }}</td>
                    <td>{{ user.food|capitalize }}</td>
                    <td>{% if user.id not in friendsId %}
                            <a href="{{ path('addfriend', { 'id': user.id }) }}">+</a>
                        {% else %}
                            <a href="{{ path('removefriend', { 'id': user.id }) }}">-</a>
                        {% endif %}
                        </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>