<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if app.request.attributes.get('_route') == "fos_user_security_login" %}
        <title>LOGIN</title>
    {% elseif app.request.attributes.get('_route') == "fos_user_registration_register" %}
        <title>REGISTER</title>
    {% elseif (app.request.attributes.get('_route') == "fos_user_profile_show") %}
        <title>PROFILE</title>
    {% elseif (app.request.attributes.get('_route') == "fos_user_profile_edit") %}
        <title>PROFILE</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background-color : #1ABC9C;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
        }

        form > div {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }

        .fos_user_user_show {
            margin: 0 auto;
        }

        .fos_user_user_show + a {
            background-color: white;
            padding: 25px;
            border: solid black 2px;
            margin: 0 auto;
        }

        .fos_user_user_show > p {
            background-color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{{ path("homepage") }}">HOME</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block fos_user_content %}{% endblock %}
    {% if (app.request.attributes.get('_route') == "fos_user_profile_show") %}
        <a href="{{ path('edituserpage') }}">Modifier profil</a>
    {% endif %}
</body>
</html>