{% extends "@AppBundle/views/Form/layout.html.twig" %}

{% block fos_user_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.age) }}
        {{ form_row(form.family) }}
        {{ form_row(form.race) }}
        {{ form_row(form.food) }}
        {{ form_row(form.plainPassword) }}

    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}