{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p> Age: {{ user.age }}</p>
    <p> Family: {{ user.family }}</p>
    <p> Race: {{ user.race }}</p>
    <p> Food: {{ user.food }}</p>
</div>